[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[B2708B75708B3F5B]
row=0
col=0

[b7618bdd-8daa-44b5-9b6e-378e0137a387]
row=1
col=0

[Rubbish Bin]
row=2
col=0

[/]
row=3
col=0

[/home/martin]
row=4
col=0

